In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2021-08-08 02:26:26,-20.3428,57.7575,66.45,94,75,3.44
1,1,Coquimbo,CL,2021-08-08 02:26:26,-29.9533,-71.3436,53.33,82,90,6.91
2,2,Bandarbeyla,SO,2021-08-08 02:26:27,9.4942,50.8122,76.23,73,10,25.95
3,3,Kargalinskaya,RU,2021-08-08 02:26:27,43.7417,46.4792,75.45,60,68,3.78
4,4,Kahului,US,2021-08-08 02:26:27,20.8947,-156.4700,82.98,64,1,23.02

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Bandarbeyla,SO,2021-08-08 02:26:27,9.4942,50.8122,76.23,73,10,25.95
3,3,Kargalinskaya,RU,2021-08-08 02:26:27,43.7417,46.4792,75.45,60,68,3.78
4,4,Kahului,US,2021-08-08 02:26:27,20.8947,-156.4700,82.98,64,1,23.02
5,5,Buchanan,LR,2021-08-08 02:26:28,5.8808,-10.0467,76.06,81,76,7.70
7,7,Bengkulu,ID,2021-08-08 02:26:28,-3.8004,102.2655,81.52,76,12,2.30
11,11,Rikitea,PF,2021-08-08 02:26:29,-23.1203,-134.9692,74.46,76,4,13.29
12,12,Touros,BR,2021-08-08 02:25:27,-5.1989,-35.4608,74.30,83,21,17.83
15,15,Manzhouli,CN,2021-08-08 02:26:30,49.6000,117.4333,70.30,64,94,11.10
20,20,Broome,US,2021-08-08 02:26:32,42.2506,-75.8330,72.19,89,100,3.06
22,22,Albany,US,2021-08-08 02:26:33,42.6001,-73.9662,73.27,89,100,2.48

In [12]:
preferred_cities_df.count()

City_ID       266
City          266
Country       266
Date          266
Lat           266
Lng           266
Max Temp      266
Humidity      266
Cloudiness    266
Wind Speed    266
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2     Bandarbeyla      SO     76.23   9.4942   50.8122
3   Kargalinskaya      RU     75.45  43.7417   46.4792
4         Kahului      US     82.98  20.8947 -156.4700
5        Buchanan      LR     76.06   5.8808  -10.0467
7        Bengkulu      ID     81.52  -3.8004  102.2655
11        Rikitea      PF     74.46 -23.1203 -134.9692
12         Touros      BR     74.30  -5.1989  -35.4608
15      Manzhouli      CN     70.30  49.6000  117.4333
20         Broome      US     72.19  42.2506  -75.8330
22         Albany      US     73.27  42.6001  -73.9662

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Bandarbeyla,SO,76.23,9.4942,50.8122,JABIR HOTEL
3,Kargalinskaya,RU,75.45,43.7417,46.4792,Комната для намаза
4,Kahului,US,82.98,20.8947,-156.4700,Maui Seaside Hotel
5,Buchanan,LR,76.06,5.8808,-10.0467,Kamaneahn Hotel Inc
7,Bengkulu,ID,81.52,-3.8004,102.2655,Grage Hotel Bengkulu
11,Rikitea,PF,74.46,-23.1203,-134.9692,People ThankYou
12,Touros,BR,74.30,-5.1989,-35.4608,INN NEW HORIZON
15,Manzhouli,CN,70.30,49.6000,117.4333,Angala International Youth Hostel
20,Broome,US,72.19,42.2506,-75.8330,Chenango Valley State Park
22,Albany,US,73.27,42.6001,-73.9662,

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))